<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="org.postgresql.Driver"/>
        <property name="url" value="jdbc:postgresql://localhost:5432/postgres"/>
        <property name="username" value="postgres"/>
        <property name="password" value="postgres"/>
    </bean>

    <bean id="ConfigurationDAO" class="jdbc_application.controllers.ConfigurationController">
        <constructor-arg ref="dataSource"/>
    </bean>

    <bean id="UserDAO" class="jdbc_application.controllers.UserController">
        <constructor-arg ref="dataSource"/>
    </bean>

<!--    <bean id="OrderDAO" class="jdbc_application.DAO.OrderDAO">-->
<!--        <constructor-arg ref="dataSource"/>-->
<!--    </bean>-->
</beans>